<a href="https://colab.research.google.com/github/victorncg/rascunhos/blob/main/Diferen%C3%A7a_entre_Pandas_e_Numpy_Standard_Deviation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://tradingcomdados.com/images/logotipo/logotipo-trading-com-dados.svg" width="300" align="left"/>

In [ ]:
!pip install yfinance

In [2]:
import yfinance as yf
import numpy as np
import pandas as pd

In [3]:
yf.download('WEGE3.SA', start = '2022-07-01')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-07-01  26.450001  26.889999  25.889999  26.500000  26.500000   7334800
2022-07-04  26.490000  26.940001  26.430000  26.490000  26.490000   4041600
2022-07-05  26.309999  27.200001  26.110001  27.020000  27.020000   9210200
2022-07-06  27.110001  28.049999  26.920000  27.100000  27.100000  11535800
2022-07-07  27.260000  27.790001  26.799999  27.610001  27.610001   8539800
2022-07-08  27.610001  27.650000  26.809999  27.270000  27.270000   5482100
2022-07-11  26.889999  26.950001  26.370001  26.580000  26.580000   6136000
2022-07-12  26.530001  26.870001  26.370001  26.590000  26.590000   5197000
2022-07-13  26.330000  27.090000  25.950001  26.730000  26.730000   7119900
2022-07-14  26.440001  26.830000  26.040001  26.400000  26.400000   6633600
2022-07-15  26.389999  26.790001  25.850000  26.549999  26.549999   6464800
2022-07-18  26.900000  27.180000  26.020000  26.120001  26.120001   6260100
2022-07-19  26.250000  27.150000  26.110001  26.959999  26.959999   7068400
2022-07-20  27.000000  27.180000  25.770000  25.990000  25.990000  14736400
2022-07-21  26.049999  26.070000  25.010000  25.330000  25.330000  12094900

In [4]:
retornos_diarios = yf.download('WEGE3.SA', start = '2022-07-01').Close.pct_change()

[*********************100%***********************]  1 of 1 completed

In [6]:
retornos_diarios.std()

0.01936258827404938

In [8]:
np.std(retornos_diarios)

0.01865825692500816

In [11]:
retornos_diarios.std(ddof=0)

0.01865825692500816

### **Numpy: Desvio-padrão da população**

<img src="https://static.wixstatic.com/media/04641b_66d7a86380d04e45831caaf49bec1006~mv2.png/v1/fill/w_360,h_115,al_c,lg_1,q_90/04641b_66d7a86380d04e45831caaf49bec1006~mv2.webp" width="300" align="left"/>

### **Pandas: Desvio-padrão da amostra**

<img src="https://static.wixstatic.com/media/04641b_aee23e2351f646cfbdaad2374dcc3d4a~mv2.png/v1/fill/w_360,h_115,al_c,lg_1,q_90/04641b_aee23e2351f646cfbdaad2374dcc3d4a~mv2.webp" width="300" align="left"/>